<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(model: condition) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="mb-3">
        <%= f.label :budget, '予算' %>
        <div class="input-group">
        <%= f.number_field :budget, min: 0, required: true, class: 'form-control', placeholder: '半角数字で入力' %>
        <span class="input-group-text">万円以内</span>
        </div>
      </div>
      
      <div class="mb-3">
        <%= f.label :area, 'エリア' %>
        <%= f.text_field :area, required: true, class: 'form-control', placeholder: '例)〇〇線〇〇駅〜〇〇駅、東京都〇〇区内' %>
      </div>
      
      <div class="mb-3">
        <div class="mb-1">駅からの距離</div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :walking_distans_from_station, '徒歩3分以内', {class: "form-check-input", checked: true} %>
          <%= f.label :walking_distans_from_station, '徒歩3分以内', {value: '徒歩3分以内', class: "form-check-label"} %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :walking_distans_from_station, '徒歩5分以内', {class: "form-check-input"} %>
          <%= f.label :walking_distans_from_station, '徒歩5分以内', {value: '徒歩5分以内', class: "form-check-label"} %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :walking_distans_from_station, '徒歩7分以内', {class: "form-check-input"} %>
          <%= f.label :walking_distans_from_station, '徒歩7分以内', {value: '徒歩7分以内', class: "form-check-label"} %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :walking_distans_from_station, '徒歩10分以内', {class: "form-check-input"} %>
          <%= f.label :walking_distans_from_station, '徒歩10分以内', {value: '徒歩10分以内', class: "form-check-label"} %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :walking_distans_from_station, '徒歩15分以内', {class: "form-check-input"} %>
          <%= f.label :walking_distans_from_station, '徒歩15分以内', {value: '徒歩15分以内', class: "form-check-label"} %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :walking_distans_from_station, '徒歩20分以内', {class: "form-check-input"} %>
          <%= f.label :walking_distans_from_station, '徒歩20分以内', {value: '徒歩20分以内', class: "form-check-label"} %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :walking_distans_from_station, 'バス利用もOK', {class: "form-check-input"} %>
          <%= f.label :walking_distans_from_station, 'バス利用もOK', {value: 'バス利用もOK', class: "form-check-label"} %>
        </div>
      </div>
      
      <div class="mb-3">
        <div class="mb-1">専有面積</div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :exclusive_area, '20㎡以上', {class: "form-check-input", checked: true} %>
          <%= f.label :exclusive_area, '20㎡以上', {value: '20㎡以上', class: "form-check-label"} %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :exclusive_area, '30㎡以上', {class: "form-check-input"} %>
          <%= f.label :exclusive_area, '30㎡以上', {value: '30㎡以上', class: "form-check-label"} %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :exclusive_area, '40㎡以上', {class: "form-check-input"} %>
          <%= f.label :exclusive_area, '40㎡以上', {value: '40㎡以上', class: "form-check-label"} %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :exclusive_area, '50㎡以上', {class: "form-check-input"} %>
          <%= f.label :exclusive_area, '50㎡以上', {value: '50㎡以上', class: "form-check-label"} %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :exclusive_area, '60㎡以上', {class: "form-check-input"} %>
          <%= f.label :exclusive_area, '60㎡以上', {value: '60㎡以上', class: "form-check-label"} %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :exclusive_area, '70㎡以上', {class: "form-check-input"} %>
          <%= f.label :exclusive_area, '70㎡以上', {value: '70㎡以上', class: "form-check-label"} %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :exclusive_area, '80㎡以上', {class: "form-check-input"} %>
          <%= f.label :exclusive_area, '80㎡以上', {value: '80㎡以上', class: "form-check-label"} %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :exclusive_area, '90㎡以上', {class: "form-check-input"} %>
          <%= f.label :exclusive_area, '90㎡以上', {value: '90㎡以上', class: "form-check-label"} %>
        </div>
      </div>
      
      <div class="mb-3">  
        <div class="mb-1">間取り</div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :floor_plan, 'ワンルーム', {class: "form-check-input", checked: true} %>
          <%= f.label :floor_plan, 'ワンルーム', {value: 'ワンルーム', class: "form-check-label"} %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :floor_plan, '1LDK', {class: "form-check-input"} %>
          <%= f.label :floor_plan, '1LDK', {value: '1LDK', class: "form-check-label"} %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :floor_plan, '2LDK', {class: "form-check-input"} %>
          <%= f.label :floor_plan, '2LDK', {value: '2LDK', class: "form-check-label"} %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :floor_plan, '3LDK', {class: "form-check-input"} %>
          <%= f.label :floor_plan, '3LDK', {value: '3LDK', class: "form-check-label"} %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :floor_plan, '4LDK以上', {class: "form-check-input"} %>
          <%= f.label :floor_plan, '4LDK以上', {value: '4LDK以上', class: "form-check-label"} %>
        </div>
      </div>
      
      <div class="mb-3">  
        <div class="mb-1">築年数</div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :age_of_a_building, '築5年以内', {class: "form-check-input", checked: true} %>
          <%= f.label :age_of_a_building, '築5年以内', {value: '築5年以内', class: "form-check-label"} %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :age_of_a_building, '築10年以内', {class: "form-check-input"} %>
          <%= f.label :age_of_a_building, '築10年以内', {value: '築10年以内', class: "form-check-label"} %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :age_of_a_building, '築20年以内', {class: "form-check-input"} %>
          <%= f.label :age_of_a_building, '築20年以内', {value: '築20年以内', class: "form-check-label"} %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :age_of_a_building, '築30年以内', {class: "form-check-input"} %>
          <%= f.label :age_of_a_building, '築30年以内', {value: '築30年以内', class: "form-check-label"} %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :age_of_a_building, '新耐震基準であればOK(※目安：S59年築以降)', {class: "form-check-input"} %>
          <%= f.label :age_of_a_building, '新耐震基準であればOK(※目安：S59年築以降)', {value: '新耐震基準であればOK(※目安：S59年築以降)', class: "form-check-label"} %>
        </div>
        <div class="form-check form-check-inline">
          <%= f.radio_button :age_of_a_building, '旧耐震でもOK', {class: "form-check-input"} %>
          <%= f.label :age_of_a_building, '旧耐震でもOK', {value: '旧耐震でもOK', class: "form-check-label"} %>
        </div>
      </div>
      
      <div class="mb-3">
          <div class="mb-1">こだわり</div>
          <% if @condition.detail_1.present? %>
            <div class="form-check form-check-inline">
              <%= f.check_box :detail_1, {class: "form-check-input", checked: condition.detail_1.include?('true')}, "true", "false" %>
              <%= f.label :detail_1, 'ペット飼育相談', {class: "form-check-label"} %>
            </div>
            <div class="form-check form-check-inline">
              <%= f.check_box :detail_2, {class: "form-check-input", checked: condition.detail_2.include?('true')}, "true", "false" %>
              <%= f.label :detail_2, '2階以上', {class: "form-check-label"} %>
            </div>
            <div class="form-check form-check-inline">
              <%= f.check_box :detail_3, {class: "form-check-input", checked: condition.detail_3.include?('true')}, "true", "false" %>
              <%= f.label :detail_3, 'リフォーム・リノベーション済み', {class: "form-check-label"} %>
            </div>
          <% else %>
            <div class="form-check form-check-inline">
              <%= f.check_box :detail_1, {class: "form-check-input"}, "true", "false" %>
              <%= f.label :detail_1, 'ペット飼育相談', {class: "form-check-label"} %>
            </div>
            <div class="form-check form-check-inline">
              <%= f.check_box :detail_2, {class: "form-check-input"}, "true", "false" %>
              <%= f.label :detail_2, '2階以上', {class: "form-check-label"} %>
            </div>
            <div class="form-check form-check-inline">
              <%= f.check_box :detail_3, {class: "form-check-input"}, "true", "false" %>
              <%= f.label :detail_3, 'リフォーム・リノベーション済み', {class: "form-check-label"} %>
            </div>
          <% end %>
      </div>
      
      <div class="mb-3">  
        <%= f.label :others, 'その他', {class: "mb-1"} %>
        <%= f.text_area :others, class: 'form-control' %>
      </div>
      
      <%= f.submit '登録', class: 'btn btn-success w-100' %>
    <% end %>
  </div>
</div>