<div class="row">
  <div class="col-sm-6 offset-sm-3">
    <%= form_with(model: property) do |f| %>
      <%= render 'layouts/error_messages', model: f.object %>
      
      <div class="mb-3">
      <%= f.label :name, '物件名' %>
      <%= f.text_field :name, required: true, class: 'form-control' %>
      </div>
      
      <div class="mb-3">
        <%= f.label :price, '価格' %>
        <div class="input-group">
        <%= f.number_field :price, min: 0, required: true, class: 'form-control', placeholder: '半角数字で入力' %>
        <span class="input-group-text">万円</span>
        </div>
      </div>
      
      <div class="mb-3">  
        <%= f.label :address, '住所' %>
        <%= f.text_field :address, required: true, class: 'form-control' %>
      </div>
      
      <div class="mb-3">  
        <%= f.label :company, '担当不動産会社' %>
        <%= f.text_field :company, class: 'form-control' %>
      </div>
      
      <div class="mb-3">  
        <%= f.label :company_contact_info, '担当不動産会社連絡先' %>
        <%= f.text_field :company_contact_info, class: 'form-control' %>
      </div>
      
      <div class="mb-3">  
        <%= f.label :property_url, '物件情報が掲載されているページのURL' %>
        <%= f.url_field :property_url, class: 'form-control' %>
      </div>
      
      <%= f.submit '登録', class: 'btn btn-success w-100' %>
    <% end %>
  </div>
</div>