<div class="card">
  <div class="card-header text-center pt-3"><h5><%= @property.name %></h5></div>
    <div class="card-body">
      価格：<%= @property.price.to_s(:delimited) %>万円<br>
      住所：<%= @property.address %><br>
      担当不動産会社：<%= @property.company %><br>
      <div class="mt-2">
        <%= link_to "削除", @property, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
        <%= link_to "編集", edit_property_path, class: 'btn btn-success btn-sm' %>
      </div>
    </div>
  </div>
</div>