<% if logged_in? %>
  <% if @properties.any? %>
    <% if @condition.present? %>
      <div class="card mb-3 col-sm-10 offset-sm-1">
        <div class="card-header text-center">希望条件</div>
        <div class="card-body">
          <p class="card-text">
            <%= @condition.budget.to_s(:delimited) %>万円以内 ／
            <%= @condition.area %> ／
            駅から<%= @condition.walking_distans_from_station %> ／
            <%= @condition.exclusive_area %> ／
            <%= @condition.floor_plan %> ／
            <%= @condition.age_of_a_building %> ／
            <% if @condition.detail_1 == 'true' %>
              <%= "ペット飼育相談" %> ／
            <% end %>
            <% if @condition.detail_2 == 'true' %>
              <%= "2階以上" %> ／
            <% end %>
            <% if @condition.detail_3 == 'true' %>
              <%= "リフォーム・リノベーション済み" %> ／
            <% end %>
            <%= @condition.others %>
          </p>
          <div class="text-center"><%= link_to '編集', edit_condition_path(@condition), class: 'btn btn-success' %></div>
        </div>
      </div>
    <% else %>
      <div class="card mb-3 col-sm-10 offset-sm-1">
        <div class="card-header text-center">希望条件</div>
        <div class="card-body text-center">
          <p class="card-text">まだ登録されていません！</p>
          <div><%= link_to '希望条件の登録', new_condition_path, class: 'btn btn-success' %></div>
        </div>
      </div>
    <% end %>
    <div class="col-sm-10 offset-sm-1">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>物件名</th>
          <th>価格</th>
          <th>住所</th>
          <th>URL</th>
        </tr>
      </thead>
      <tbody>
        <% @properties.each do |property| %>
          <tr>
            <td><%= link_to property.name, property %></td>
            <td><%= property.price.to_s(:delimited) %>万円</td>
            <td><%= property.address %></td>
            <td><%= link_to property.property_url, property.property_url %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  <% else %>
  　<div class="col-sm-10 offset-sm-1">
      <div class="card">
        <div class="card-header text-center pt-2"><img class="mb-1" src="/assets/exclamation-triangle.svg" alt="image"> まだ物件が登録されていません</div>
        <div class="card-body">
          <h5 class="card-title mb-4 text-center">物件を登録するとこんなことができます！</h5>
            <div class="col-sm-8 offset-sm-2">
              <ul>
                <li>担当の不動産会社や連絡先、掲載されているサイトのURLを登録</li>
                <li>物件の問い合わせ状況や、内見記録など活動ログを残して進捗状況を管理</li>
                <li>住まい探しにまつわる情報を住まいログで一元管理しましょう！</li>
              </ul>
            </div>
          <div class="text-center"><%= link_to '新規登録', new_property_path, class: 'btn btn-success' %></div>
        </div>
      </div>
    </div>
  <% end %>
<% else %>
<div class="col-sm-10 offset-sm-1">
<div class="bg-secondary bg-gradient p-3 p-sm-5 my-4 rounded">
  <div class="text-center text-white">
    <h2 class="mb-4 font-weight-bold">Welcome to SUMAILOG！</h2>
    <%= link_to 'ユーザー登録', signup_path, class: 'btn btn-log btn-primary' %>
  </div>
</div>
<div class="col-sm-10 offset-sm-1 mt-5">
  <h5 class="text-center">住まい探しに関わる情報は<font size="+3" style="background: linear-gradient(transparent  50%, #ffc037  50%);"> SUMAILOG </font>で一括管理！</h5>
  <ul class="pt-2">
    <li class="mt-3">
      気になっている物件情報を登録して、一括管理！
      <div>物件金額やアクセスなどはもちろん担当の不動産会社や掲載サイトのURLも登録できます</div>
    </li>
    <li class="mt-3">
      物件ごとに活動ログを残して、進捗を一括管理！
      <div>問い合わせ状況や内見予定、お部屋の感想や気になるポイントなど、なんでもログに残しましょう</div>
    </li>
    <li class="mt-3">
      住まい探しにおける条件もSUMAILOGで一括管理！
      <div></div>
    </li>
  </ul>
</div>
</div>
<% end %>
