<% if logged_in? %>
  <% if @properties.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center">No.</th>
          <th>物件名</th>
          <th>価格</th>
          <th>住所</th>
        </tr>
      </thead>
      <tbody>
        <% @properties.each do |property| %>
          <tr>
            <td class="text-center"><%= property.id %></td>
            <td><%= link_to property.name, property %></td>
            <td><%= property.price.to_s(:delimited) %>万円</td>
            <td><%= property.address %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%== pagy_bootstrap_nav(@pagy) %>
  <% else %>
    <div class="card">
      <div class="card-header text-center pt-3"><h5>まだ物件が登録されていません</h5></div>
      <div class="text-center m-3">
        <p>まずは物件情報を登録しましょう！</p>
        <%= link_to '新規物件登録', new_property_path, class: 'btn btn-success' %>
      </div>
    </div>
  <% end %>
<% else %>
<div class="bg-secondary p-3 p-sm-5 my-4 rounded">
  <div class="text-center text-white">
    <h2>住まいログへようこそ！</h2>
    <%= link_to 'ユーザー登録', signup_path, class: 'btn btn-log btn-primary' %>
  </div>
</div>
<% end %>
