<% if logged_in? %>
  <% if @properties.any? %>
    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center">No.</th>
          <th>物件名</th>
          <th>価格</th>
          <th>住所</th>
        </tr>
      </thead>
      <tbody>
        <% @properties.each do |property| %>
          <tr>
            <td class="text-center"><%= property.id %></td>
            <td><%= link_to property.name, property %></td>
            <td><%= property.price.to_s(:delimited) %>万円</td>
            <td><%= property.address %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
    <%== pagy_bootstrap_nav(@pagy) %>
  <% else %>
    <div class="text-center m-5">
      まだ物件が登録されていません！<br>
      <%= link_to '物件新規登録', new_property_path, class: 'btn btn-success' %>
    </div>
  <% end %>
<% else %>
<div class="bg-secondary p-3 p-sm-5 my-4 rounded">
  <div class="text-center text-white">
    <h1>Welcome to the すまいログ</h1>
    <%= link_to 'Sign up now!', signup_path, class: 'btn btn-log btn-primary' %>
  </div>
</div>
<% end %>
